body, div, table, tr, td, button  {
  margin: 0;
  padding: 0;
  border: none;
  transform: translate3d(0, 0, 0);
}


.Module {
  position: relative;
  margin: 60px;
  display: inline-block;
  vertical-align: top;
}

table {
  border: 1px solid #48aae6;
  border-spacing: 2px;
  margin: 1px;
  position: relative;
}

td {
  border: 1px solid #48AAE6;
  background: #48AAE6;
  
}

div {
  vertical-align: middle;
}

.OperationButton {
  width: 50px;
  height: 50px;
  margin: 1px;
  font-size: 25px;
  font-weight: 900;
  transition-property: opacity;
  transition-duration: 0.5s;
  opacity: 1;
  text-align: center;
  color: white;
  font-weight: bold;
  user-select: none;
  position: absolute;
}

.OperationButton:hover{
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 0.3s;
  opacity: 0.7;
}

.ButtonMinus{
  border: 2px solid #B20000;
  background: #B20000;
  transition: 0.3s;
  visibility: hidden;
}

.ButtonPlus{
  border: 2px solid #F3A500;
  background: #F3A500;
}

.BtnLeft {
  right: 100%;
  margin-top: 2px;
  top: 2px;
}

.BtnTop {
  bottom: 100%;
  left: 2px;
  margin-left: 2px;
}

.BtnRight {
  left: 100%;
  margin-top: 4px;
}

.BtnBottom {
  top: 100%;
  margin-left: 4px;
}